<html>
    <head>
        <title>Simple WA Gateaway</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lib/css/tubagus_css/style.css"></link>
    </head>
    <body>

        <div class="main-grid">
            <div class="qr-container">
                <div class="qr-card">
                    <div class="qr-view">
                        <img id="qr-img"></img>
                        <div id="qr-loader" class="loader"></div>
                    </div>
                    <div id="txt-device">AC50BX0SAW3</div>
                    <div id="txt-status">Connecting...</div>
                </div>
            </div>

            <div class="device-container">
                <h1><center>DEVICES</center></h1>
                <div class="devices">
                
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/lib/js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.min.js"></script>
        <script type="text/javascript" src="/lib/js/feather/feather.min.js"></script>
        <script type="text/javascript">
            
            var devices = localStorage.getItem("devices");
            var socket = io();

            $(window).on('load', () => {
                initializeWA(randomString());
                refreshDevices();
                feather.replace();
            });

            // Memanggil 
            const initializeWA = (id) => {
                socket.emit('wa:connect', id);
                $('#qr-img').hide();
                $('#qr-loader').show();
                $('#txt-device').text(id);
                $('#txt-status').text("Connecting...");
                socket.on(`wa:qr ${id}`, (qrUrl) => {
                    $('#qr-img').attr('src', qrUrl);
                    $('#qr-img').show();
                    $('#qr-loader').hide();
                    $('#txt-status').text("QR Code Received Scan Please!!");
                });

                socket.on(`wa:connected ${id}`, (qrUrl) => {
                    $('#txt-status').text("Device Connected To WA Web");
                    $('#qr-img').hide();

                    refreshDevices();

                    // Ketika device sudah terkoneksi maka
                    // Automatis merequest QR untuk device baru
                    setTimeout(() => {
                        initializeWA(randomString());
                    }, 6000);
                });

                socket.on(`wa:logedout ${id}`, (device) => {
                    refreshDevices();
                });
            }

            const refreshDevices = () => {
                let html = ``;
                $.ajax({
                    url: `/devices`,
                    type: 'GET',
                    success: (data) => {
                        Object.keys(data).forEach((key, i) => {
                            html = html + `<div class="device">
                                <div id="${data[key]}" style="float: left;">${data[key]}</div>
                                <div style="margin-left:40px; justify-content: start; align-items: flex-start; align-content: flex-start;">
                                    <i id="btn-${data[key]}" onclick="copy('${data[key]}')" style="width:18px;height:18px;margin-left:10px;margin-right:10px;" data-feather="copy"></i>
                                    <i onclick="logout('${data[key]}')" style="width:18px;height:18px;margin-left:10px;margin-right:10px;" data-feather="trash"></i>
                                </div>
                            </div>`;
                        });
                        $('.devices').html(html);
                        feather.replace();
                    }
                });
            }


            const copy = (deviceId) => {
                navigator.clipboard.writeText($(`#${deviceId}`).text());
                $(`#btn-${deviceId}`).attr('data-feather', 'check');
                feather.replace();
            }

            const logout = (deviceId) => {
                $.ajax({
                    url: `/${deviceId}/logout`,
                    type: 'GET',
                    success: (data) => {
                        alert(data);
                        refreshDevices();
                    }
                });
            }

            const randomString = () => {
                var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                var string_length = 20;
                var randomstring = '';
                for (var i=0; i<string_length; i++) {
                    var rnum = Math.floor(Math.random() * chars.length);
                    randomstring += chars.substring(rnum,rnum+1);
                }
                return randomstring;
            }

            Array.prototype.remove = () => {
                var what, a = arguments, L = a.length, ax;
                while (L && this.length) {
                    what = a[--L];
                    while ((ax = this.indexOf(what)) !== -1) {
                        this.splice(ax, 1);
                    }
                }
                return this;
            };
        </script>
    </body>
</html>
